//------------------------------------
//    #Work
//------------------------------------

.m-work-info-container {
    @include size1of1();
    @include top-96;
    & h6 {
        padding: 24px 0 56px 0;
    }
}

.m-work-referencesketch {
    width: 100%;
    height: auto;
    @include top-96;
    @include bottom-96;
}

.m-work-small-textblock {
    @include size1of1();
    padding-right: 0;
    float: left;
    @include bottom-96;
}

.m-work-med-textblock {
    @include size1of1();
    @include top-96;
}

.m-work-twophotos {
    @include top-96;
    @include e(individual) {
        width: 100%;
        padding-right: 0;
        float: left;
    }
    & img {
        width: 100%;
        height: auto;
    }
}

.m-work-vid-wrap {
    @include top-96;
    @include bottom-96;
}

.m-work-vid {
    width: 100%;
    height: auto;
}


//    600px min width
//------------------------------------

@media (min-width: $breakpoint-tablet) {
    .m-work-info-container {
        @include size2of3;
    }

    .m-work-small-textblock {
        width: 50%;
        padding-right: 72px;
        float: left;
    }

    .m-work-med-textblock {
        @include size2of3;
    }

    .m-work-twophotos {
        @include e(individual) {
            width: 50%;
            padding-right: 10px;
        }
    }
}


//    900px min width
//------------------------------------

@media (min-width: $breakpoint-tablet-large) {

}